
<head>
	<title>Admin Panel</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel='stylesheet' href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" media="none" onload="if(media!='all')media='all'">
	<link rel='stylesheet' href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" media="none" onload="if(media!='all')media='all'">
	<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" media="none" onload="if(media!='all')media='all'">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

	<script src="https://unpkg.com/form-storage@1.2.0/build/form-storage.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	<style>
		body {
			max-width: 800px;
			margin: auto;
			padding: 3rem;
		}
	</style>
</head>

<h2 class="display-4">Admin panel</h2>

<ul class="mb-5 nav">
	<li class="nav-item">
		<a class="nav-link active" href="/admin/">Statistics</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/admin/broadcast">Broadcast</a>
	</li>
</ul>


